.DS_Store
.dart_tool/
.idea/
.packages
.flutter-plugins-dependencies
flutter_*.log
.pub-cache/
.pub/
build/
coverage/
.vercel/
android/.gradle/
android/local.properties
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/GeneratedPluginRegistrant.java
